
@font-face {
    font-family: 'aqs';
    src: url('aqs/aqs.ttf');
}

#header {
	position: fixed;
	top:0px; left:0px; right:0px;
	height:50px;
  background: -webkit-linear-gradient(45deg, rgb(61,81,81), rgb(81,61,81));
  background: -o-linear-gradient(45deg, rgb(61,81,81), rgb(81,61,81));
  background: -moz-linear-gradient(45deg, rgb(61,81,81), rgb(81,61,81));
  background: linear-gradient(45deg, rgb(61,81,81), rgb(81,61,81));
  color:rgb(190,190,170);
	padding:5px 10px;
	margin:0;
}

#top-logo {
	float:left;
	font-family: 'aqs';
	font-size:28px;
	width:100px;
	margin:0; padding:0;
}

#menu-btn, #menu-btn:active, #menu-btn:focus {
	float:right;
  color:rgb(190,190,170);
	background-color:rgba(0,0,01,0);
	border-style:none;
	padding:4px;
	font-size:28px;
}

#menu {
	position: fixed;
	top:51px; right:0px;
	z-index: 10;
	width:200px;
  background: -webkit-linear-gradient(45deg, rgb(61,81,81), rgb(81,61,81));
  background: -o-linear-gradient(45deg, rgb(61,81,81), rgb(81,61,81));
  background: -moz-linear-gradient(45deg, rgb(61,81,81), rgb(81,61,81));
  background: linear-gradient(45deg, rgb(61,81,81), rgb(81,61,81));
  color:rgb(190,190,170);
  display:none;
}

#menu p {
	padding-top:5px;
}

#menu ul {
	list-style-type: none;
	padding-left:10px;
}

#menu ul li {
	list-style-type: none;
	padding-top:10px;
}

#menu ul li a {
  color:rgb(190,190,170);
}

a,button,p {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a:hover {
	text-decoration:none;
}

#nav-game {
	padding-right:20px;
}

#nav-game ul {
	display:none;
}

#content {
	padding-top:70px;
}

#content, body{
	background-color:rgb(245,245,235);
}

.hidden{
	display:none;
}

.square{
	margin:0;
	padding:0;
	top:0;
	border-style:solid;
	border-width:2px;
	width:12.5%;
	height:12.5%;
	float:left;
	text-align:center;
}

.black{
	border-color:rgb(160,160,180);
	background-color:rgb(160,160,180);
}

.white{
	border-color:rgb(220,220,240);
	background-color:rgb(220,220,240);
}

.grey{
	background-color:rgb(190,190,210);
}

.black-piece {
	color:rgb(51,51,51);
}

.white-piece {
	color:rgb(255,255,195);
}

.msg{
	background-color:rgb(190,190,170);
}

.newline{
	clear:both;
}

#game-board{
	border: 10px ridge #FFEEBB;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:20px;
}

.test {
	font-size: 40;
	height:100px;
}

.options{
	border-style:ridge;
	border-color: rgb(255,195,255);
	background-image: url("../img/bg.png");
}

.selected{
	border-style:ridge;
	border-color: rgb(255,195,255);
	background-color:rgb(255,195,255);
}

.lastmove{
	border-style:ridge;
	border-color: rgb(195,255,255);
}

.center{
	text-align:center;
}

.right{
	float:right;
}

.left{
	float:left;
}

#you-name, #opp-name, #msg-text {
	font-size:1.2em;
	font-weight:bold;
}

.label-as-badge {
	  border-radius: 1em;
}


/*
.navbar-brand, .navbar-text,
.navbar p,
.navbar .navbar-header,
.navbar .nav > p,
.navbar .nav > li > a,
.navbar .nav {
	color:rgb(190,190,170);
	background-color:rgb(71,71,71);
}
*/
.navbar,
.navbar-brand,
.navbar .nav > li > a,
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus
 {
	color:rgb(190,190,170);
	background-color:rgb(71,71,71);
}

ul.nav {
	padding-bottom:0;
	margin-bottom:0;
}

.navbar-toggle, .navbar-brand {
	border-style:none;
	padding: 15px 10px 5px 10px;
	margin-top:0;
	margin-bottom:0;
}

#you-taken-list, #opp-taken-list {
	padding:0, margin-bottom:0;
	list-style-type:none;
}


.taken {
	padding-left:4px;
	font-size:1.2em;
}

.panel-body{
	padding:5px;
}



